<!DOCTYPE html>
<html>
	<html lang="en">
	<head>
		{% load staticfiles %}
		<meta charset="utf-8"/>
		<title>WiseR Triggers</title>
		<link rel="stylesheet" href="{% static "wise/styles.css" %}" type="text/css"/>
		<meta name="viewport content = " width-device-width, initial-scale=1.0">
	</head>
	<body class="body">
		<header class="mainHead">
			<img src="{% static "wise/stars.gif" %}" width="100" height="100" alt="Wise Triggers"/>
			<nav><ul>
					<li style="width:200px;"><a style="color:white;" href='#'>Triggers</a></li>
					<li style="width:200px;"><a style="color:white;" href='#'>Performance</a></li>
					<li style="width:200px;"><a style="color:white;" href='#'>About</a></li>
					<li style="width:400px;style="color:white;>Your WiseR Triggers will magically solve your bugs...</li>
					
				</ul>
			</nav>
		</header>
		
		<div class="mainContent">
				<h1 align="center" style="color: #009ACD">WiseR Triggers</h1>
				<hr/>
				<table width="80%">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Solution</th>
							<th>Enabled</th>
							<th>Tickets Solved</th>
						</tr>
					</thead>
					<tbody>			
					{% for trigger in triggs %}
					 <tr>
				 		<td width="3%">{{ trigger.id }}</td>
				 		<td width="30%"><a href="#">{{ trigger.name }}</a></td>
				 		<td width="30%">{{ trigger.solution }}</td>
				 		{% if trigger.is_enabled == 1 %}
				 			<td width="10%"> Enabled </td>
						{% else %}
							<td style="color:red;"> Not enabled </td>
						{% endif %}
						<td width="10%"> {{ trigger.tickets_solved}} </td>
						
				 	</tr>
				{% endfor %}
					</tbody>
				</table>	
			<footer class="mainFooter"> 
				<hr/>
				  <p>This is a proof of concept for Wiser TM, a tool that automagically 
				     picks up and solves tickets baserd in pre-built triggers that contain 
				     textual keys and regular expressions aimed at identifying tickets we 
				     can automatically solve. Posted by: <a href="mailto:someone@example.com">Dovik Nissim</a>. on June 2015</p>

			</footer>
	</body>
</html>

